@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile LT Std';
    src: url('../fonts/EurostileLTStd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile LT Std Demi';
    src: url('../fonts/EurostileLTStd-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile LT Std Bold';
    src: url('../fonts/EurostileLTStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tenby Four';
    src: url('../fonts/TenbyFour.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Eurostile LT Std', Arial, sans-serif !important;
}