  $pink: #fc3da3;
  $green: #58c5da;
  $green-light: #94DFC0;
  $grey: #888888;
  $grey-light: #ddd;
  $blue: #007bff;
  $blue-light: #5b75af;
  $masters-greenOLD: #195a3a;
  $masters-green: #286245;

  $orange: #fd9b37;
  $team1: #fd9b37;
  $team2: #69b3fe;

  $red: #F96E80;

  $success: #28a745;
  $light: #f8f9fa;

  $gold: #FFD700;
  $silver: #C0C0C0;
  $bronze: #CD7F32;
  $light: #fff0b4;

  
